@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header, .footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer {
  background-color: #eee;
}

.left-links, .right-links {
  display: flex;
  gap: 8px;
  padding: 8px;
  margin: 0;
  font-size: smaller;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:8px;
}

.buttons {
  border-radius: 50%;
}

img {
  width: 600px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #666;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 16px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}
