/* Add CSS Styling */
.odd{
    background-color: #FF9999;
    font-family: "Verdana","DejaVu Sans", sans-serif;
}

#second{
    color:blue;
    font-size: 36px;
}

#fourth{
    background-color: lightgreen;
    font-weight: bold;
}

#third, #fourth{
    font-size: 24px;
}